Python and Science - https://github.com/egalli64/pysci

Kaggle Courses - Pandas - https://www.kaggle.com/learn/pandas

Renaming and Combining - https://www.kaggle.com/code/residentmario/renaming-and-combining

In [1]:
# Setup /1: only pandas is used here
import pandas as pd

In [ ]:
# Setup /2: generate the data frame used for examples

reviews = pd.DataFrame({
    'country': ['Italy', 'Portugal', 'US', 'Italy', 'Canada', 'France', 'Italy','Australia', 'New Zealand'],
    'description': ['A', 'B tropical', 'C', 'D', 'E', 'F', 'E fruity', 'H', 'I'],
    'price': [12, 41, 34, 18, 27, 32, 43, 22, 12], 
    'winery': ['A 21', 'B 34', 'C 54', 'D 21', pd.NA, 'F 43', 'G 44', 'H 11', 'I 32'],
    'points': [85, 88, 87, 92, 81, 95, 84, 97, 80],
    'variety': ['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a'],
    'title': ['a a', 'b b', 'c c', 'd d', 'e e', 'f f', 'g g', 'h h', 'i i'],
    'province': ['A', 'AP', 'AUSA', 'B', 'A', 'A', 'A','A', 'ANZ'],
    'taster_name': ['a', 'b', 'c', 'b', 'a', 'c', 'a', 'b', 'c'],
    'region_1': ['a', pd.NA, 'c', 'b', pd.NA, pd.NA, pd.NA, 'b', 'c'],
    'region_2': ['x', pd.NA, pd.NA, 'w', pd.NA, pd.NA, pd.NA, 'y', 'x'],
})

reviews.head(10)

Exercise 1 - rename column region_1, region_2 to region and locale

In [ ]:
reviews.rename(columns={'region_1': 'region', 'region_2': 'locale'})

Exercise 2 - set the index name to wines

In [ ]:
reviews.rename_axis("wines", axis='rows')

Exercise 3 - Generate a new data frame concatenating two given ones (same column names)

In [ ]:
# here I concatenate review with itself
pd.concat([reviews, reviews])

Exercise 4 - join two tables on the same index

In [ ]:
left = reviews.set_index(['country'])
right = reviews.set_index(['country'])

# since here I use the same table, I need to change the column names
left.join(right, rsuffix='_2')