Python and Science - https://github.com/egalli64/pysci

Kaggle Courses - Pandas - https://www.kaggle.com/learn/pandas

Creating, Reading and Writing - https://www.kaggle.com/code/residentmario/creating-reading-and-writing

In [74]:
# Setup /1: only pandas is used here
import pandas as pd

In [ ]:
# Setup /2: generate the data frame used for examples

reviews = pd.DataFrame({
    'country': ['Italy', 'Portugal', 'US', 'Italy', 'Belgium', 'France', 'Italy','Australia', 'New Zealand'],
    'description': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
    'apples': [35, 41, 34, 18, 27, 32, 43, 22, 12], 
    'bananas': [21, 34, 54, 21, None, 43, 44, 11, 32],
    'points': [85, 88, 87, 92, 81, 95, 84, 97, 80],
    'variety': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
})

reviews.head(10)

Exercise 1 - Select the description column from reviews

In [ ]:
reviews.description

Exercise 2 - Select the first value from the description column of reviews

In [ ]:
reviews.description.iloc[0]

Exercise 3 - Select the first row of reviews

In [ ]:
reviews.iloc[0]

Exercise 4 - Select the first 10 values from the description column in reviews

In [ ]:
# reviews.loc[:9, 'description']
reviews.description.iloc[:10]

Exercise 5 - Select the records with index labels 1, 2, 3, 5, and 8

In [ ]:
reviews.loc[[1,2,3,5,8]]

Exercise 6 - Extract from reviews a data frame for the given rows and columns

In [ ]:
rows = [0, 1, 3, 7]  # [0,1,10,100]
cols = ['country', 'apples', 'bananas', 'points'] # ['country', 'province', 'region_1', 'region_2']

reviews.loc[rows][cols]

Exercise 7 - Extract from reviews a data frame for country and variety columns and the first 100 records.

In [ ]:
# reviews.iloc[:100][['country', 'variety']]
reviews.loc[:99,['country', 'variety']]

Exercise 8 - extract a dataframe only with rows having Italy as country

In [ ]:
reviews[reviews.country == 'Italy']

Exercise 8 - extract a dataframe only with rows having reviews with at least 95 points for wines from Australia or New Zealand.

In [ ]:
reviews.loc[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points >= 95)]