Python and Science - https://github.com/egalli64/pysci

Kaggle Courses - Pandas - https://www.kaggle.com/learn/pandas

Grouping and Sorting - https://www.kaggle.com/code/residentmario/grouping-and-sorting

In [1]:
# Setup /1: only pandas is used here
import pandas as pd

In [15]:
# Setup /2: generate the data frame used for examples

reviews = pd.DataFrame({
    'country': ['Italy', 'Portugal', 'US', 'Italy', 'Canada', 'France', 'Italy','Australia', 'New Zealand'],
    'description': ['A', 'B tropical', 'C', 'D', 'E', 'F', 'E fruity', 'H', 'I'],
    'price': [35, 41, 34, 18, 27, 32, 43, 22, 12], 
    'winery': ['A 21', 'B 34', 'C 54', 'D 21', None, 'F 43', 'G 44', 'H 11', 'I 32'],
    'points': [85, 88, 87, 92, 81, 95, 84, 97, 80],
    'variety': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
    'title': ['a a', 'b b', 'c c', 'd d', 'e e', 'f f', 'g g', 'h h', 'i i'],
    'province': ['A', 'A', 'A', 'B', 'A', 'A', 'A','A', 'A'],
})

reviews.head(10)

       country description  price winery  points variety title province
0        Italy           A     35   A 21      85       a   a a        A
1     Portugal  B tropical     41   B 34      88       b   b b        A
2           US           C     34   C 54      87       c   c c        A
3        Italy           D     18   D 21      92       d   d d        B
4       Canada           E     27   None      81       e   e e        A
5       France           F     32   F 43      95       f   f f        A
6        Italy    E fruity     43   G 44      84       g   g g        A
7    Australia           H     22   H 11      97       h   h h        A
8  New Zealand           I     12   I 32      80       i   i i        A

# Groupwise analysis

groupby() - group rows in the data frame

In [10]:
# group the rows by the value in country column, then count the rows in each country group
reviews.groupby('country').country.count()

# value_counts() is a shortcut for this commonly used functionality
# reviews.country.value_counts()

country
Australia      1
Canada         1
France         1
Italy          3
New Zealand    1
Portugal       1
US             1
Name: country, dtype: int64

In [11]:
# group the rows by points, get the cheapest price for each group
reviews.groupby('points').price.min()

points
80    12
81    27
84    43
85    35
87    34
88    41
92    18
95    32
97    22
Name: price, dtype: int64

In [13]:
# group by winery, get the title of the first row in each group
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

C:\Users\egall\AppData\Local\Temp\ipykernel_8432\506966275.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
A 21    a a
B 34    b b
C 54    c c
D 21    d d
F 43    f f
G 44    g g
H 11    h h
I 32    i i
dtype: object

In [30]:
# group by country + province, for each group get the row with higher points
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

# to get rid of the warning, explicitly set the multi-index
# reviews.groupby(['country', 'province'])[reviews.columns.difference(['country', 'province'])].apply(
#    lambda df: df.loc[df.points.idxmax()])

# alt: se the multi-index in apply
#reviews.groupby(['country', 'province']).apply(
#    lambda df: df.loc[df.points.idxmax()][df.columns.difference(['country', 'province'])]
#)

# alt: country / province as normal columns
# reviews.loc[reviews.groupby(['country', 'province'])['points'].idxmax()]

C:\Users\egall\AppData\Local\Temp\ipykernel_8432\1778142488.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                          country description  price winery  points variety  \
country     province
Australia   A           Australia           H     22   H 11      97       h
Canada      A              Canada           E     27   None      81       e
France      A              France           F     32   F 43      95       f
Italy       A               Italy           A     35   A 21      85       a
            B               Italy           D     18   D 21      92       d
New Zealand A         New Zealand           I     12   I 32      80       i
Portugal    A            Portugal  B tropical     41   B 34      88       b
US          A                  US           C     34   C 54      87       c

                     title province
country     province
Australia   A          h h        A
Canada      A          e e        A
France      A          f f        A
Italy       A          a a        A
            B          d d        B
New Zealand A          i i        A
Portugal    A          b b        A
US          A          c c        A

agg() - let apply functions on the data frame

In [21]:
# group by country, for each group work on the prices, get its number (length), min and max value
reviews.groupby(['country']).price.agg([len, "min", "max"])

             len  min  max
country
Australia      1   22   22
Canada         1   27   27
France         1   32   32
Italy          3   18   43
New Zealand    1   12   12
Portugal       1   41   41
US             1   34   34